body{
	color: white;
}

#map{
	margin: auto;
	width: 1280px;
	height: 720px;
	image-rendering: crisp-edges;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}

#map a{
	color:#000;
}

#map a:hover{
	color:#000;
	text-shadow: none;
}

.arrowUp{
	margin: -10px;
	border-radius: 5px 5px 0px 0px;
}

.arrowDown{
	border-radius: 0px 0px 5px 5px;
}

.MouseCoordinates{
	border-radius: 5px;
	background: #FFF;
	color: #000;
	width: 120px;
	padding: 3px 3px 3px 10px;
}

.CrosshairCoordinates{
	border-radius: 5px;
	background: #FFF;
	color: #000;
	width: 120px;
	padding: 3px 3px 3px 10px;
}

.fullscreen-icon { background-image: url(images/icon-fullscreen.png); }
.leaflet-retina .fullscreen-icon { background-image: url(images/icon-fullscreen-2x.png); background-size: 26px 26px; }
/* one selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
.leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-container:-ms-fullscreen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-container:full-screen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-container:fullscreen { width: 100% !important; height: 100% !important; z-index: 99999; }
.leaflet-pseudo-fullscreen { position: fixed !important; width: 100% !important; height: 100% !important; top: 0px !important; left: 0px !important; z-index: 99999; }