@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    color: white;
}

.map-wrapper {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
}

.mapper-links {
    width: inherit;
    overflow: auto;
    background: #0b1b31;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto auto;
}

#map {
    width: inherit;
    height: inherit;
    image-rendering: crisp-edges;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

#map a {
    color: #000;
}

#map a:hover {
    color: #000;
    text-shadow: none;
}

.arrowUp {
    margin: -10px;
    border-radius: 5px 5px 0px 0px;
}

.arrowDown {
    border-radius: 0px 0px 5px 5px;
}

.MouseCoordinates {
    border-radius: 5px;
    background: #FFF;
    color: #000;
    width: 120px;
    padding: 3px 3px 3px 10px;
}

.CrosshairCoordinates {
    border-radius: 5px;
    background: #FFF;
    color: #000;
    width: 120px;
    padding: 3px 3px 3px 10px;
}

.fullscreen-icon {
    background-image: url(images/icon-fullscreen.png);
}

.leaflet-retina .fullscreen-icon {
    background-image: url(images/icon-fullscreen-2x.png);
    background-size: 26px 26px;
}

/* one selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
.leaflet-container:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:-ms-fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:full-screen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-container:fullscreen {
    width: 100% !important;
    height: 100% !important;
    z-index: 99999;
}

.leaflet-pseudo-fullscreen {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 99999;
}

.cssload-loader {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    left: calc(50% - 31px);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 780px;
    z-index: 999;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 0.95s linear infinite;
    -o-animation: cssload-rotate-one 0.95s linear infinite;
    -ms-animation: cssload-rotate-one 0.95s linear infinite;
    -webkit-animation: cssload-rotate-one 0.95s linear infinite;
    -moz-animation: cssload-rotate-one 0.95s linear infinite;
    border-bottom: 3px solid rgb(97, 172, 120);
}

.cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 0.95s linear infinite;
    -o-animation: cssload-rotate-two 0.95s linear infinite;
    -ms-animation: cssload-rotate-two 0.95s linear infinite;
    -webkit-animation: cssload-rotate-two 0.95s linear infinite;
    -moz-animation: cssload-rotate-two 0.95s linear infinite;
    border-right: 3px solid rgb(53, 99, 123);
}

.cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 0.95s linear infinite;
    -o-animation: cssload-rotate-three 0.95s linear infinite;
    -ms-animation: cssload-rotate-three 0.95s linear infinite;
    -webkit-animation: cssload-rotate-three 0.95s linear infinite;
    -moz-animation: cssload-rotate-three 0.95s linear infinite;
    border-top: 3px solid rgb(191, 244, 234);
}

@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.hidden {
    display: none;
}